<header>

    <nav class="navbar">

        <div>
            <a routerLink="">
                <img class="logo" src="assets/images/logo.png" alt="Beer Brothers Fishing Logo">
            </a>
        </div>

        <ul class="nav-list" [ngClass]="{'active': hamburgerIsActive}">
            <li class="list-item">
                <a routerLink="rigs">RIGS</a>
            </li>
            <li class="list-item">
                <a routerLink="lines">LINES</a>
            </li>
            <li class="list-item">
                <a routerLink="knots">KNOTS</a>
            </li>
            <li class="list-item">
                <a routerLink="equipment">EQUIPMENT</a>
            </li>
        </ul>

        <div class="menu" (click)="menuClicked()" style="cursor:pointer">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </div>

    </nav>

</header>