#siteHeaderLogo {
    width: 20%;
}
.siteHeaderNavLink {
    background-color: none;
    border: none;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin: 4px 2px;
}
