<body>

    <header>

        <div class="siteHeaderNavContainer" id="topNav">
            
            <a href="home">
                <img id="siteHeaderLogo" src="assets/images/logo.png" alt="Beer Brothers Fishing Logo">
            </a>
            
            <a href="Rigs" class="siteHeaderNavLink">Rigs</a>
            <a href="Equipment" class="siteHeaderNavLink">Equipment</a>
            <a href="Lines" class="siteHeaderNavLink">Lines</a>
            <a href="Knots" class="siteHeaderNavLink">Knots</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Possibly have to change the href to the actual links when I get them set up-->



        </div>

    </header>

</body>