<body>

    <header class="siteHeader">

        <div class="siteHeaderNavContainer">

            <img id="siteHeaderLogo" src="assets/images/logo.png" alt="Beer Brothers Fishing Logo">

            <div class="siteHeaderNavItem">
                <a href="#" class="siteHeaderNavLink">Rigs</a>
                <a href="#" class="siteHeaderNavLink">Equipment</a>
                <a href="#" class="siteHeaderNavLink">Lines</a>
                <a href="#" class="siteHeaderNavLink">Knots</a>
            </div>

<!-- Change the # signs to the actual links when I get them set up-->

        </div>
    </header>

</body>