    <div class="heading">
        <h1>Our Story</h1>
    </div>

    <div class="row">
        <div class="column left"></div>
        <div class="column middle">
            <p class="intro-text">
                All great stories start where this one started…two good buddies, a few beers, and a creek full of bass! <br>
                <br>
                Back in 2018, Beer Brothers Fishing began as a friendly, but competitive, fishing tournament between two
                friends that has developed into a love for teaching people how to fish. <br>
                <br>
                <img class="combined-photo" src="assets/images/duo.png" alt="Photo of us holding fish">
                <br>
                The techniques we teach here are proven and have worked for us for many years. <br>
                <br> 
                We have over 70 years of combined fishing experience that we want to pass
                on to both newcomers and seasoned anglers alike.
            </p>
        </div>
        <div class="column right"></div>

        
        <h1>More content coming soon!!!</h1>
        
    </div>
