    <div class="heading">
        <h1>Our Story</h1>
    </div>

    <div class="row">
        <div class="column left"></div>
        <div class="column middle">
            <p class="intro-text">
                All great stories start where this one started…two good buddies, a few beers, and a creek full of bass!
                Back in 2018, Beer Brothers Fishing began as a friendly, but competitive, fishing tournament between two
                friends that has developed into a love for teaching people how to fish.
                The techniques we teach here are proven and have worked for us for many years. We have over 70 years of
                combined fishing experience that we want to pass
                on to both newcomers and seasoned anglers alike.
            </p>
            <img class="combined-photo" src="assets/images/duo.png" alt="Photo of us holding fish">
        </div>
        <div class="column right"></div>

        
        <h1>More content coming soon!!!</h1>
        
        <!-- Testing the sticky footer to make sure scrolling works. Delete Later-->
    <p>Lorem ipsum dolor sit amet. Nulla magna sunt aliquip, tempor officia. Cupidatat cillum sit adipiscing et, commodo, amet nulla deserunt. Sunt quis, lorem cupidatat laborum ex exercitation. Et Duis aute officia ad, labore, esse tempor exercitation. Aliquip occaecat sed anim, dolor Duis. Eiusmod adipiscing, lorem ex ipsum laborum Excepteur. Commodo esse consectetur tempor. Fugiat pariatur, labore Ut nisi adipiscing aliquip.<br>

        Labore incididunt, cillum tempor occaecat velit fugiat. Ut ipsum elit consectetur. Amet fugiat consectetur ipsum, ullamco incididunt. Irure ea, culpa esse quis irure ea. Ex cillum ad. Exercitation labore proident veniam. Excepteur ullamco, veniam reprehenderit elit proident laboris. Excepteur sed velit. Sit in, officia anim veniam laboris magna. Esse id do nostrud. Anim occaecat qui Ut, laborum aliquip. Id non adipiscing pariatur reprehenderit, consectetur, incididunt irure non.<br>
        
        Reprehenderit esse officia sed. Lorem Duis lorem pariatur, commodo ut. Aliqua occaecat fugiat eu pariatur, velit, laborum eiusmod cupidatat. Dolor in irure proident. Irure cupidatat, laboris sit ipsum proident fugiat. Adipiscing occaecat est Ut enim, sint, tempor aliquip ea. Ex laborum consectetur Duis. In cillum adipiscing commodo consectetur, amet, officia do eiusmod. Consectetur reprehenderit proident.<br>
        
        Qui quis, velit veniam cupidatat ex lorem. Amet pariatur non. Occaecat fugiat tempor quis laboris, reprehenderit, magna amet eu. Ut veniam, irure adipiscing ipsum ad sint. Nostrud officia ad ex, magna nostrud. Anim nisi proident adipiscing. Nisi nostrud officia consequat ad, sunt, fugiat Excepteur sint. Consectetur ipsum do. Quis eu eiusmod exercitation, ad consequat. Ipsum Excepteur consectetur Ut.<br>
        
        Occaecat velit fugiat est cupidatat, voluptate, eu exercitation ea. Sed ut sint eiusmod. Fugiat anim voluptate. Commodo sunt ut laboris, et culpa. Laborum do ut nostrud. Ea ipsum, ea anim labore incididunt laborum.<br>
        
        Amet qui enim et. Non proident sed. Mollit do lorem veniam qui, id, non et pariatur. Ex ut voluptate. Nulla occaecat, amet do culpa elit sunt. Esse sunt amet tempor, veniam voluptate. Lorem Ut pariatur magna lorem, ad, dolore sit enim. Duis aliqua anim. Ullamco sunt cupidatat ut. Magna laboris anim. Enim quis officia anim, irure aliqua. Irure dolore deserunt magna sint, irure, sit enim aute.<br>
        
        Amet qui enim et. Non proident sed. Mollit do lorem veniam qui, id, non et pariatur. Ex ut voluptate. Nulla occaecat, amet do culpa elit sunt. Esse sunt amet tempor, veniam voluptate. Lorem Ut pariatur magna lorem, ad, dolore sit enim. Duis aliqua anim. Ullamco sunt cupidatat ut. Magna laboris anim. Enim quis officia anim, irure aliqua. Irure dolore deserunt magna sint, irure, sit enim aute.<br>

        Qui quis, velit veniam cupidatat ex lorem. Amet pariatur non. Occaecat fugiat tempor quis laboris, reprehenderit, magna amet eu. Ut veniam, irure adipiscing ipsum ad sint. Nostrud officia ad ex, magna nostrud. Anim nisi proident adipiscing. Nisi nostrud officia consequat ad, sunt, fugiat Excepteur sint. Consectetur ipsum do. Quis eu eiusmod exercitation, ad consequat. Ipsum Excepteur consectetur Ut.<br>
        
        Occaecat velit fugiat est cupidatat, voluptate, eu exercitation ea. Sed ut sint eiusmod. Fugiat anim voluptate. Commodo sunt ut laboris, et culpa. Laborum do ut nostrud. Ea ipsum, ea anim labore incididunt laborum.<br>
        
        Amet qui enim et. Non proident sed. Mollit do lorem veniam qui, id, non et pariatur. Ex ut voluptate. Nulla occaecat, amet do culpa elit sunt. Esse sunt amet tempor, veniam voluptate. Lorem Ut pariatur magna lorem, ad, dolore sit enim. Duis aliqua anim. Ullamco sunt cupidatat ut. Magna laboris anim. Enim quis officia anim, irure aliqua. Irure dolore deserunt magna sint, irure, sit enim aute.<br>

        Amet qui enim et. Non proident sed. Mollit do lorem veniam qui, id, non et pariatur. Ex ut voluptate. Nulla occaecat, amet do culpa elit sunt. Esse sunt amet tempor, veniam voluptate. Lorem Ut pariatur magna lorem, ad, dolore sit enim. Duis aliqua anim. Ullamco sunt cupidatat ut. Magna laboris anim. Enim quis officia anim, irure aliqua. Irure dolore deserunt magna sint, irure, sit enim aute.
        
        </p>    

    </div>
